@import "compass";

$experimental-support-for-mozilla: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-opera: false;

$baseWidth: 1000px;
$baseBgColor: #eee;
$imgPath: "../img/ui/";

$colorAqua: #0ff;

$fontfamily: arial, "Hiragino Kaku Gothic Pro", sans-serif;
$fontColorAqua: #0ff;
