/*
 * Button Style
*/
.btn {
    position: relative;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    a {
        display: block;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 18px;
    }

    &.primary {
        background: #404040;
        @include background(linear-gradient(top, #404040, #282828));
        &:hover { background: #303030; }
    }
    &.secondly {
        background: #EEEEEE;
        @include box-shadow(inset #E5E5E5 0 0 1px 1px);
        @include background(linear-gradient(top, #EEEEEE, #E5E5E5));
        > a,
        > input { color: #000000; }
        &:hover { background: #EAEAEA; }
    }

    &.green {
        background: #2A8000;
        @include background(linear-gradient(top, #2D8900, #246E00));
        &:hover { background: #267400; }
    }
    &.orange {
        background: #FA9600;
        @include background(linear-gradient(top, #FFC70A, #FA9600));
        &:hover { background: #FCAE05; }
    }

    &.l { width: 260px; }
    &.center { margin: 0 auto; }
    &.disable { opacity: 0.4; }

    .icon {
        &.social {
            margin: 0px 6px -11px -34px;
        }
    }
}