/*
 * Header Style
*/
header.header {
    height: 50px;
    background: #f8f8f8;
    @include background(linear-gradient(top, #fff, #f8f8f8));
    > .wrap {
        width: $baseWidth;
        margin: 0 auto;
        h1 {
            padding-top: 7px;
        }
    }
}