/*
 * Header Style
*/
header.header {
    height: 50px;
    background: #f8f8f8;
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#f8f8f8));
    > .wrap {
        width: $baseWidth;
        margin: 0 auto;
        h1 {
            padding-top: 7px;
        }
    }
}