@import "compass";

$experimental-support-for-mozilla: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-opera: false;

$baseWidth: 1000px;
$baseBgColor: #000103;
$imgPath: "../img/";

$colorAqua: #0ff;

$fontfamily: "Hiragino Kaku Gothic Pro", sans-serif;
$fontColorAqua: #0ff;
