/*
*  Atomic Design UI Parts Style
*  Parts Contents
- Bg Style
- Paragraph style
- Icon style
- Title Style
- Navigation & Menu Style
- Button Style
- Box Style
- List Style
- Separate Style
- Form Style
- Header Style
- Footer Style
- Modal Style
- Animation Style
*
*/

/* Bg Style
-------------------------------------------------- */
@import "parts/bg";

/* Paragraph style
-------------------------------------------------- */
@import "parts/paragraph";

/* Icon Style
-------------------------------------------------- */
@import "parts/icon";

/* Title Style
-------------------------------------------------- */
@import "parts/title";

/* Navigation & Menu Style
-------------------------------------------------- */
@import "parts/navigation";

/* Button Style
-------------------------------------------------- */
@import "parts/button";

/* Box Style
-------------------------------------------------- */
@import "parts/box";

/* List Style
-------------------------------------------------- */
@import "parts/list";

/* Separate Style
-------------------------------------------------- */
@import "parts/separate";

/* Form Style
-------------------------------------------------- */
@import "parts/form";

/* Header Style
-------------------------------------------------- */
@import "parts/header";

/* Footer Style
-------------------------------------------------- */
@import "parts/footer";

/* Modal Style
-------------------------------------------------- */
@import "parts/modal";

/* Animation Style
-------------------------------------------------- */
@import "parts/animation";
